In [1]:
#######################################################
#######################################################
#######################################################

## Data Wrangling In Python: Data Wrangling With Pandas - 5 EXERCISE ANSWERS ##

#### Please refer to module 1 of DataWranglingInPython - DataWranglingWithPandas for Tasks 1-4
#### Task 1
##### Import `pandas` as `pd` and numpy as `np`.
##### Import `path` from `Pathlib`.
##### Set the data directory using the data_dir variable.

#### Result:

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

# Set 'main_dir' to location of the project folder
home_dir = Path(".").resolve()
main_dir = home_dir.parent.parent
print(main_dir)
data_dir = "/data"
print(data_dir)

C:\
/data

#### Task 2
##### Create a Pandas `Series` object from a list of groceries below. Assign it to `shopping_series` variable and print it.

- milk
- eggs
- peppers
- cheese
- tomatoes

##### Print out only the values of the Series.

#### Result:

In [3]:
shopping_series = pd.Series(["milk", "eggs", "peppers", "cheese", "tomatoes"])
print(shopping_series)
print(shopping_series.values)

0        milk
1        eggs
2     peppers
3      cheese
4    tomatoes
dtype: object
['milk' 'eggs' 'peppers' 'cheese' 'tomatoes']

#### Task 3
##### Create a Pandas Date Series object starting from `January 1st 2019` and ending with `January 1st 2020` separated monthly. Assign the Series to `monthly_series` variable. Print the result.

##### Create another Pandas Date Series object starting from `January 1st 2019` and covering 12 monthly periods. Assign the Series to `monthly_series_by_period` variable. Print the result.
##### Are the two Series equivalent?

#### Result:

In [4]:
monthly_series = pd.date_range(start = '20190101', end = '20200101', freq = 'M')
print(monthly_series)
monthly_series_by_period = pd.date_range(start = '20190101', freq = 'M', periods = 12)
print(monthly_series_by_period)
# Yes, the two series objects are equivalent!

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

#### Task 4
##### Create a NumPy array `abs_values` with values `[5, 8, 66, 4]` and convert it into a `Pandas Series` object. Assign it to variable `abs_series`.
##### Print the result.
##### Then print the results of the following operations:

- Get the shape of the Series
- Find the mean of the Series
- Find the median of the Series
- Find the standard deviation of the Series
- Get unique values in the Series
- Get the number of unique values in the Series

#### Here are some bonus questions that you could work on later

- Get counts of unique values in the Series
- Find the position of the minimum value in the Series
- Find the position of the maximum value in the Series
- Rank items in the Series in descending order
- Sort values in the Series
- Find sum of the Series
- Find cumulative sum of the Series

#### Result:

In [5]:
abs_values = np.array([5, 8, 66, 4])
abs_series = pd.Series(abs_values)
print(abs_series)
print(abs_series.shape)
print(abs_series.mean())
print(abs_series.median())
print(abs_series.std())
print(abs_series.unique())
print(abs_series.nunique())

0     5
1     8
2    66
3     4
dtype: int32
(4,)
20.75
6.5
30.21451086260816
[ 5  8 66  4]
4

#### Answers for the bonus questions

In [6]:
print(abs_series.value_counts())
print(abs_series.idxmin()) 
print(abs_series.idxmax())
print(abs_series.rank(ascending = False))
print(abs_series.sort_values())
print(abs_series.sum())
print(abs_series.cumsum())

5     1
8     1
66    1
4     1
dtype: int64
3
2
0    3.0
1    2.0
2    1.0
3    4.0
dtype: float64
3     4
0     5
1     8
2    66
dtype: int32
83
0     5
1    13
2    79
3    83
dtype: int32

#### Please refer to module 2 of DataWranglingInPython - DataWranglingWithPandas for Tasks 5-8
#### Task 5
##### Create a Pandas Series object from a list of groceries below. Assign it to a variable called `shopping_series` and print it.

- milk
- eggs
- peppers
- cheese
- tomatoes

##### Create a Series object called `prices` that contains the following values: [2.5, 3.99, 1.95, 5.99, 1.29].
##### Create a Series object called `num_items` that contains the following values: [1, 1, 2, 1, 3].
##### Combine the three `Series` objects described above into a single DataFrame called `shopping_cart` naming the columns as follows:

- `item_name`
- `item_price`
- `item_quantity`

##### Print the first few entries (i.e. the `head` of the DataFrame).
#### Result:

In [7]:
shopping_series = pd.Series(["milk", "eggs", "peppers", "cheese", "tomatoes"])
prices = pd.Series([2.5, 3.99, 1.95, 5.99, 1.29])
num_items = pd.Series([1, 1, 2, 1, 3])
shopping_cart = pd.DataFrame({'item_name': shopping_series, 'item_price': prices, 'item_quantity': num_items})
print(shopping_cart.head())

  item_name  item_price  item_quantity
0      milk        2.50              1
1      eggs        3.99              1
2   peppers        1.95              2
3    cheese        5.99              1
4  tomatoes        1.29              3

#### Task 6
##### Check the following characteristics of the `shopping_cart` object:

- Type
- Shape
- Show column names of the DataFrame
- Show information of the DataFrame
- Describe the DataFrame

##### How many columns are described in the last output? Why do you think that's the case?
##### What is the 75th percentile of the column `item_price`?
##### What is the standard deviation of the column `item_quantity`?
#### Result:

In [8]:
print(type(shopping_cart))
print(shopping_cart.shape)
print(shopping_cart.columns)
print(shopping_cart.info())
print(shopping_cart.describe())

# There are only 2 columns because the first column is non-numerical.
# The 75th percentile of `item_price` is 3.99.
# The standard deviation of `item_quantity` is 0.894427.

<class 'pandas.core.frame.DataFrame'>
(5, 3)
Index(['item_name', 'item_price', 'item_quantity'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_name      5 non-null      object
 1   item_price     5 non-null      float64
 2   item_quantity  5 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes
None
       item_price  item_quantity
count     5.00000       5.000000
mean      3.14400       1.600000
std       1.87704       0.894427
min       1.29000       1.000000
25%       1.95000       1.000000
50%       2.50000       1.000000
75%       3.99000       2.000000
max       5.99000       3.000000

#### Task 7
##### Perform the following on the `shopping_cart` DataFrame:

- Extract column `item_price`
- Extract columns `item_name` and`item_quantity`
- Extract the 3rd row

#### Result:

In [9]:
print(shopping_cart['item_price'])
print(shopping_cart[['item_name', 'item_quantity']])
print(shopping_cart.iloc[2])

0    2.50
1    3.99
2    1.95
3    5.99
4    1.29
Name: item_price, dtype: float64
  item_name  item_quantity
0      milk              1
1      eggs              1
2   peppers              2
3    cheese              1
4  tomatoes              3
item_name        peppers
item_price          1.95
item_quantity          2
Name: 2, dtype: object

#### Task 8
##### Set the index of `shopping_cart` DataFrame to `item_name`. Print the updated DataFrame.
##### Print just the index of the `shopping_cart` DataFrame.
##### Look up the row of the `shopping_cart` by using the index value 'eggs'.
##### Reset index of the `shopping_cart`. Print the updated DataFrame.
#### Result:

In [10]:
shopping_cart = shopping_cart.set_index('item_name')
print(shopping_cart)
print(shopping_cart.index)
print(shopping_cart.loc['eggs'])
shopping_cart = shopping_cart.reset_index()
print(shopping_cart)

           item_price  item_quantity
item_name
milk             2.50              1
eggs             3.99              1
peppers          1.95              2
cheese           5.99              1
tomatoes         1.29              3
Index(['milk', 'eggs', 'peppers', 'cheese', 'tomatoes'], dtype='object', name='item_name')
item_price       3.99
item_quantity    1.00
Name: eggs, dtype: float64
  item_name  item_price  item_quantity
0      milk        2.50              1
1      eggs        3.99              1
2   peppers        1.95              2
3    cheese        5.99              1
4  tomatoes        1.29              3

#### Please refer to module 3 of DataWranglingInPython - DataWranglingWithPandas for Tasks 9-12
#### Task 9
##### Read in 'healthcare-dataset-stroke-data.csv' into a variable called `ex_df` using Pandas.
##### Print the first 20 rows of the DataFrame.

#### Result:

In [11]:
ex_df = pd.read_csv('heart_failure_clinical_records_dataset.csv')
print(ex_df.head(20))

     age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0   75.0        0                       582         0                 20
1   55.0        0                      7861         0                 38
2   65.0        0                       146         0                 20
3   50.0        1                       111         0                 20
4   65.0        1                       160         1                 20
5   90.0        1                        47         0                 40
6   75.0        1                       246         0                 15
7   60.0        1                       315         1                 60
8   65.0        0                       157         0                 65
9   80.0        1                       123         0                 35
10  75.0        1                        81         0                 38
11  62.0        0                       231         0                 25
12  45.0        1                       981         0                 30
13  50.0        1                       168         0                 38
14  49.0        1                        80         0                 30
15  82.0        1                       379         0                 50
16  87.0        1                       149         0                 38
17  45.0        0                       582         0                 14
18  70.0        1                       125         0                 25
19  48.0        1                       582         1                 55

    high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                     1  265000.00               1.9           130    1
1                     0  263358.03               1.1           136    1
2                     0  162000.00               1.3           129    1
3                     0  210000.00               1.9           137    1
4                     0  327000.00               2.7           116    0
5                     1  204000.00               2.1           132    1
6                     0  127000.00               1.2           137    1
7                     0  454000.00               1.1           131    1
8                     0  263358.03               1.5           138    0
9                     1  388000.00               9.4           133    1
10                    1  368000.00               4.0           131    1
11                    1  253000.00               0.9           140    1
12                    0  136000.00               1.1           137    1
13                    1  276000.00               1.1           137    1
14                    1  427000.00               1.0           138    0
15                    0   47000.00               1.3           136    1
16                    0  262000.00               0.9           140    1
17                    0  166000.00               0.8           127    1
18                    1  237000.00               1.0           140    0
19                    0   87000.00               1.9           121    0

    smoking  time  death_event  id
0         0     4            1   1
1         0     6            1   2
2         1     7            1   3
3         0     7            1   4
4         0     8            1   5
5         1     8            1   6
6         0    10            1   7
7         1    10            1   8
8         0    10            1   9
9         1    10            1  10
10        1    10            1  11
11        1    10            1  12
12        0    11            1  13
13        0    11            1  14
14        0    12            0  15
15        0    13            1  16
16        0    14            1  17
17        0    14            1  18
18        0    15            1  19
19        0    15            1  20

#### Task 10
##### Perform the following actions on `ex_df` object:

- Check the type of the object
- Get the shape of the object and save it to 2 variables and print both: `nrows` and `ncols`

#### Result:

In [12]:
print(type(ex_df))
nrows, ncols = ex_df.shape
print(nrows)
print(ncols)

<class 'pandas.core.frame.DataFrame'>
299
14

#### Task 11
##### Use the sample function to:

- print 3 random rows in ex_df
- print 0.1% random rows in

#### Result:

In [13]:
print(ex_df.sample(n=3))
print(ex_df.sample(frac=0.001))

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
33   50.0        1                       159         1                 30
81   67.0        0                       582         0                 50
229  72.0        0                       211         0                 25

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
33                     0  302000.00              1.20           138    0
81                     0  263358.03              1.18           137    1
229                    0  274000.00              1.20           134    0

     smoking  time  death_event   id
33         0    29            0   34
81         1    76            0   82
229        0   207            0  230
Empty DataFrame
Columns: [age, anaemia, creatinine_phosphokinase, diabetes, ejection_fraction, high_blood_pressure, platelets, serum_creatinine, serum_sodium, sex, smoking, time, death_event, id]
Index: []

#### Task 12
##### Inspect `ex_df` for the following information:

- columns
- data types
- info
- statistical summary (describe)

#### Result:

In [14]:
ex_df.columns
ex_df.dtypes
ex_df.info()
ex_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  death_event               299 non-null    int64
 13  id                        299 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 32.8 KB

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death_event,id
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000,299.000000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107,150.000000
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767,86.458082
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000,1.000000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000,75.500000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000,150.000000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000,224.500000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000,299.000000

#### Please refer to module 4 of DataWranglingInPython - DataWranglingWithPandas for Tasks 13-16
#### Task 13
##### Find the number of unique values present in the columns of the DataFrame, store the result in the dictionary format with the name `ex_col_dict` and print the dictionary.
##### Identify and pick the column which has the least number of unique values from the dictionary.
##### Save the column as `ex_grouping_col` and print it.
#### Result:

In [15]:
ex_col_dict = ex_df.nunique().to_dict()
print(ex_col_dict)
ex_grouping_col = min(ex_col_dict, key=ex_col_dict.get)
ex_grouping_col

{'age': 47, 'anaemia': 2, 'creatinine_phosphokinase': 208, 'diabetes': 2, 'ejection_fraction': 17, 'high_blood_pressure': 2, 'platelets': 176, 'serum_creatinine': 40, 'serum_sodium': 27, 'sex': 2, 'smoking': 2, 'time': 148, 'death_event': 2, 'id': 299}

'anaemia'

#### Task 14
##### Group by the column `ex_grouping_col` and assign it to a DataFrame named `ex_grouped_df`.
##### Use the summary functions to get the count of ID variable for all the variables you just grouped in `ex_grouped_df`.
##### Assign the output to a DataFrame called `ex_df_ID` and print that DataFrame.
#### Result:

In [16]:
ex_grouped_df = ex_df.groupby(ex_grouping_col)
ex_df_ID = ex_grouped_df.count()[['id']]
print(ex_df_ID)

          id
anaemia
0        170
1        129

#### Task 15
##### Sort the values by ID.
#### Result:

In [17]:
ex_df_ID.sort_values(['id'])

          id
anaemia
1        129
0        170

#### Task 16
##### In `ex_df_ID`, create a new Boolean column (containing values True or False) called `over10000_ID` .
##### This indicates whether a row has a value for `ID` that is higher than 10000.
#### Result:

In [18]:
over10000_ID = ex_df_ID[['id']] > 10000
# Add the new column.
ex_df_ID['over10000_ID'] = over10000_ID
print(ex_df_ID.head())

          id  over10000_ID
anaemia
0        170         False
1        129         False

#### Please refer to module 5 of DataWranglingInPython - DataWranglingWithPandas for Tasks 17-20
#### Task 17
##### Subset the DataFrame to have the following variables: ex_cols_list. Print head of `ex_df_subset`.
##### Check if there are any NAs in the DataFrame and fill with mean if NAs are present.
#### Result:

In [19]:
ex_df_subset = ex_df[['creatinine_phosphokinase', 'age', 'time', 'serum_creatinine', 'ejection_fraction', 'serum_sodium', 'platelets', 'smoking', 'anaemia', 'death_event', 'diabetes', 'high_blood_pressure', 'sex']]
print(ex_df_subset.head())
# Set the DataFrame equal to the imputed dataset.
ex_df_subset[['creatinine_phosphokinase', 'age', 'time', 'serum_creatinine', 'ejection_fraction', 'serum_sodium', 'platelets']] = ex_df_subset[['creatinine_phosphokinase', 'age', 'time', 'serum_creatinine', 'ejection_fraction', 'serum_sodium', 'platelets']].fillna(ex_df_subset.mean())
# Check how many values are null in the DataFrame.
print(ex_df_subset.isnull().sum())

   creatinine_phosphokinase   age  time  serum_creatinine  ejection_fraction  \
0                       582  75.0     4               1.9                 20
1                      7861  55.0     6               1.1                 38
2                       146  65.0     7               1.3                 20
3                       111  50.0     7               1.9                 20
4                       160  65.0     8               2.7                 20

   serum_sodium  platelets  smoking  anaemia  death_event  diabetes  \
0           130  265000.00        0        0            1         0
1           136  263358.03        0        0            1         0
2           129  162000.00        1        0            1         0
3           137  210000.00        0        1            1         0
4           116  327000.00        0        1            1         1

   high_blood_pressure  sex
0                    1    1
1                    0    1
2                    0    1
3                    0    1
4                    0    0
creatinine_phosphokinase    0
age                         0
time                        0
serum_creatinine            0
ejection_fraction           0
serum_sodium                0
platelets                   0
smoking                     0
anaemia                     0
death_event                 0
diabetes                    0
high_blood_pressure         0
sex                         0
dtype: int64

C:\Users\624768\AppData\Local\Temp\ipykernel_22440\3161267896.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ex_df_subset[['creatinine_phosphokinase', 'age', 'time', 'serum_creatinine', 'ejection_fraction', 'serum_sodium', 'platelets']] = ex_df_subset[['creatinine_phosphokinase', 'age', 'time', 'serum_creatinine', 'ejection_fraction', 'serum_sodium', 'platelets']].fillna(ex_df_subset.mean())

#### Task 18
##### Group `ex_df` data by the variable `ex_grouping_col`. Save as `ex_grouped`.
##### Then group and summarize the numeric variables: ['creatinine_phosphokinase', 'age', 'time', 'serum_creatinine', 'ejection_fraction', 'serum_sodium', 'platelets'] using their means.
##### Save as `ex_grouped_mean` and print.
##### Reset its index and print the result.
#### Result:

In [20]:
# Group data by `per_capita_income` variable.
ex_grouped = ex_df.groupby(ex_grouping_col)
# Compute mean on the listed variables using the grouped data.
ex_df_grouped_mean = ex_grouped.mean()[['creatinine_phosphokinase', 'age', 'time', 'serum_creatinine', 'ejection_fraction', 'serum_sodium', 'platelets']]
print(ex_df_grouped_mean)
# Reset index of the dataset.
ex_df_grouped_mean = ex_df_grouped_mean.reset_index()
print(ex_df_grouped_mean)

         creatinine_phosphokinase        age        time  serum_creatinine  \
anaemia
0                      742.788235  59.923529  139.805882          1.346941
1                      369.736434  62.033597  117.682171          1.455736

         ejection_fraction  serum_sodium      platelets
anaemia
0                37.758824    136.464706  267082.215647
1                38.511628    136.837209  258450.186744
   anaemia  creatinine_phosphokinase        age        time  serum_creatinine  \
0        0                742.788235  59.923529  139.805882          1.346941
1        1                369.736434  62.033597  117.682171          1.455736

   ejection_fraction  serum_sodium      platelets
0          37.758824    136.464706  267082.215647
1          38.511628    136.837209  258450.186744

#### Task 19
##### Notice the format of `ex_grouped_mean`. We wish to convert it from wide to long format.
##### Use the `pd.melt()` function and convert it to long format. Save as `ex_grouped_mean_long` and print the result.
#### Result:

In [21]:
# Melt the wide data into long.
ex_grouped_mean_long = pd.melt(ex_df_grouped_mean,       #<- wide dataset
                               id_vars = [ex_grouping_col],  #<- identifying variable
                               var_name = 'metric',      #<- contains col names of wide data
                               value_name = 'mean')      #<- contains values from above columns
print(ex_grouped_mean_long)

    anaemia                    metric           mean
0         0  creatinine_phosphokinase     742.788235
1         1  creatinine_phosphokinase     369.736434
2         0                       age      59.923529
3         1                       age      62.033597
4         0                      time     139.805882
5         1                      time     117.682171
6         0          serum_creatinine       1.346941
7         1          serum_creatinine       1.455736
8         0         ejection_fraction      37.758824
9         1         ejection_fraction      38.511628
10        0              serum_sodium     136.464706
11        1              serum_sodium     136.837209
12        0                 platelets  267082.215647
13        1                 platelets  258450.186744

#### Task 20
##### Now use the `pd.pivot()` function to convert `ex_grouped_mean_long` to wide format.
##### Save as `ex_grouped_mean_wide` and print.
#### Result:

In [22]:
# Melt the long data into wide.
ex_grouped_mean_wide = ex_grouped_mean_long.pivot(
                                      index = [ex_grouping_col],     #<- identifying variable
                                      columns = 'metric', #<- contains col names of wide data
                                      values = 'mean')    #<- contains values from above columns
print(ex_grouped_mean_wide)

metric         age  creatinine_phosphokinase  ejection_fraction  \
anaemia
0        59.923529                742.788235          37.758824
1        62.033597                369.736434          38.511628

metric       platelets  serum_creatinine  serum_sodium        time
anaemia
0        267082.215647          1.346941    136.464706  139.805882
1        258450.186744          1.455736    136.837209  117.682171