In [ ]:
#######################################################
#######################################################
#######################################################

## Intro To Statistics: Hypothesis Testing - 2 EXERCISE ANSWERS ##

#### Exercise ####

#### Please refer to module 1 of Intro To Statistics - Hypothesis Testing for Tasks 1-7
#### Task 1
##### Review the tasks below and import the packages required to complete them.
##### Set the working directory to data directory.
##### Print the working directory.
#### Result:

In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
from scipy.stats import norm
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot

# Set 'main_dir' to location of the project folder
home_dir = Path(".").resolve()
main_dir = home_dir.parent.parent
print(main_dir)
data_dir = str(main_dir) + "/data"
print(data_dir)

C:\
C:\/data

#### Task 2
##### Load `ChemicalManufacturingProcess.csv` from the data folder as ex_data.
##### The goal is to understand the relationship between two variables.
##### Print the head() of data, shape, number of rows and number of columns.
##### Subset the data to contain only numeric variables.
##### Drop NaN values and reset index.

#### Result:

In [2]:
ex_df = pd.read_csv('ChemicalManufacturingProcess.csv')
print(ex_df.head())
print(type(ex_df))
print(len(ex_df))
ex_nrows, ex_ncols = ex_df.shape
print(ex_nrows)
print(ex_ncols)
# Subset data
ex_df = ex_df[['ManufacturingProcess03', 'ManufacturingProcess11', 'ManufacturingProcess10', 'ManufacturingProcess25', 'ManufacturingProcess30', 'ManufacturingProcess28', 'ManufacturingProcess35', 'ManufacturingProcess27', 'ManufacturingProcess31', 'ManufacturingProcess33', 'ManufacturingProcess26', 'ManufacturingProcess29', 'ManufacturingProcess02', 'ManufacturingProcess06', 'ManufacturingProcess14', 'ManufacturingProcess22', 'ManufacturingProcess04', 'ManufacturingProcess24', 'ManufacturingProcess01', 'ManufacturingProcess05', 'ManufacturingProcess20', 'ManufacturingProcess42', 'ManufacturingProcess18', 'BiologicalMaterial06', 'ManufacturingProcess21', 'ManufacturingProcess43', 'ManufacturingProcess13', 'BiologicalMaterial09', 'BiologicalMaterial05', 'ManufacturingProcess19', 'ManufacturingProcess17', 'BiologicalMaterial10', 'BiologicalMaterial04', 'ManufacturingProcess45', 'BiologicalMaterial03', 'ManufacturingProcess16', 'BiologicalMaterial12', 'ManufacturingProcess15', 'ManufacturingProcess37', 'BiologicalMaterial08', 'BiologicalMaterial01', 'BiologicalMaterial11', 'Yield', 'ManufacturingProcess32', 'ManufacturingProcess39', 'BiologicalMaterial02', 'ManufacturingProcess09']]
ex_df = ex_df.dropna().reset_index()

   Yield  BiologicalMaterial01  BiologicalMaterial02  BiologicalMaterial03  \
0  38.00                  6.25                 49.58                 56.97
1  42.44                  8.01                 60.97                 67.48
2  42.03                  8.01                 60.97                 67.48
3  41.42                  8.01                 60.97                 67.48
4  42.49                  7.47                 63.33                 72.25

   BiologicalMaterial04  BiologicalMaterial05  BiologicalMaterial06  \
0                 12.74                 19.51                 43.73
1                 14.65                 19.36                 53.14
2                 14.65                 19.36                 53.14
3                 14.65                 19.36                 53.14
4                 14.02                 17.91                 54.66

   BiologicalMaterial07  BiologicalMaterial08  BiologicalMaterial09  ...  \
0                 100.0                 16.66                 11.44  ...
1                 100.0                 19.04                 12.55  ...
2                 100.0                 19.04                 12.55  ...
3                 100.0                 19.04                 12.55  ...
4                 100.0                 18.22                 12.80  ...

   ManufacturingProcess37  ManufacturingProcess38  ManufacturingProcess39  \
0                     0.5                       3                     7.2
1                     2.0                       2                     7.2
2                     0.7                       2                     7.2
3                     1.2                       2                     7.2
4                     0.2                       2                     7.3

   ManufacturingProcess40  ManufacturingProcess41  ManufacturingProcess42  \
0                     NaN                     NaN                    11.6
1                     0.1                    0.15                    11.1
2                     0.0                    0.00                    12.0
3                     0.0                    0.00                    10.6
4                     0.0                    0.00                    11.0

   ManufacturingProcess43  ManufacturingProcess44  ManufacturingProcess45  id
0                     3.0                     1.8                     2.4   1
1                     0.9                     1.9                     2.2   2
2                     1.0                     1.8                     2.3   3
3                     1.1                     1.8                     2.1   4
4                     1.1                     1.7                     2.1   5

[5 rows x 59 columns]
<class 'pandas.core.frame.DataFrame'>
176
176
59

#### Task 3
##### Define `ex_sd` to be the population standard deviation to be `1.8762296787190247`.
##### Then, calculate the standard error of the sample mean, and save it to a variable `ex_se`.
#### Result:

In [3]:
ex_sd = 1.8762296787190247
ex_se = ex_sd / np.sqrt(len(ex_df))
print(ex_se)

0.1521823224247571

#### Task 4
##### Next, calculate the margin of error (MOE) for a 95% confidence interval.
##### HINT: by the empirical rule, 95% confidence interval implies z = 2.
##### Save this MOE as `ex_moe_95`.
#### Result:

In [4]:
ex_moe_95 = 2 * ex_se
ex_moe_95

0.3043646448495142

#### Task 5
##### Create a variable `ex_mean` that is the mean of `'Yield'` column.
##### Using this as the sample mean and the MOE calculated in the previous problem, 
##### create a 95% confidence interval for the population mean.
##### Name the lower bound `CI_lower` and the upper bound `CI_upper`.
#### Result:

In [5]:
# Define the mean.
selected_column = 'Yield'
ex_mean = ex_df[selected_column].mean()

# The lower bound.
CI_lower = ex_mean - ex_moe_95
print("CI_lower: ",CI_lower)

# The upper bound.
CI_upper = ex_mean + ex_moe_95
print("CI_upper: ",CI_upper)

CI_lower:  39.823727460413664
CI_upper:  40.43245675011269

#### Task 6
##### Determine an appropriate z-value for a 90% confidence interval.
##### Calculate the MOE using this z-value.
##### Then calculate the upper and lower bounds of a 90% confidence interval.
##### How does this interval compare to the 95% confidence interval?
#### Result:

In [6]:
# Calculate the appropriate z value using the qnorm function.
z_score_90 = norm.ppf(0.05)
print(z_score_90)

# Calculate MOE.
ex_moe_90 = z_score_90 * ex_se

# The lower bound.
CI_lower_90 = ex_mean - ex_moe_95
print("CI_lower: ",CI_lower_90)

# The upper bound.
CI_upper_90 = ex_mean + ex_moe_90
print("CI_upper: ", CI_upper_90)

-1.6448536269514729
CI_lower:  39.823727460413664
CI_upper:  39.87777446026492

#### Please refer to module 2 of Intro To Statistics - Hypothesis Testing for Tasks 7-11
#### Task 7
##### We are going to conduct a hypothesis test at the alpha = 0.10 level. 
##### Assume a claim has an average of 'Yield' as 36.83, with a population standard deviation of `ex_std`, as previously assumed. 
##### Our `ex_df` dataframe will serve as a random sample of the population.
##### Our belief is that the average `'Yield'` is less than 36.83, and we will conduct our test in hopes to prove so.
##### What are our null and alternative hypotheses?
#### Result:

In [ ]:

# - Null hypothesis: the average `'Yield'` value is 36.83
# - Alternative hypothesis: the average `'Yield'` value is less than 36.83

#### Task 8
##### To test the hypothesis in Task 7, we will first calculate the z-score
##### Calculate the z-score and save it to a variable `z_ex_df_90`
##### Calculate the p-value and save it to a variable `p_ex_df_90`
##### What is our conclusion of this hypothesis test?
#### Result:

In [7]:
z_ex_df_90 = (ex_mean - 40.44)/(ex_se)
print("Z-score", z_ex_df_90)

p_ex_df_90 = norm.cdf(z_ex_df_90)
print("p-value: ", p_ex_df_90)

if p_ex_df_90 < 0.01:
  ex_hypothesis = "reject the null hypothesis, since "+ str(p_ex_df_90) + " < 0.01"
else:
  ex_hypothesis =  "fail to reject the null hypothesis, since "+ str(p_ex_df_90) + " >= 0.01"

print("At the alpha = 0.01 significance level, Here, we decide to "+ ex_hypothesis)

Z-score -2.0495671886663107
p-value:  0.02020334251494722
At the alpha = 0.01 significance level, Here, we decide to fail to reject the null hypothesis, since 0.02020334251494722 >= 0.01

#### Task 9
##### We are going to conduct a two-tailed hypothesis test at the alpha = 0.05 level.
##### Assume another research has claimed the average selected_column is 36.83, with a population standard deviation of 1.8762296787190247. 
##### Our `ex_df` dataframe will serve as a random sample of the population.
##### Our belief is that the average `'Yield'` cannot be equal to 36.83, and we will conduct our test in hopes in proving so.
##### Print our null and alternative hypothesis?
#### Result:

In [8]:
print("Null hypothesis: the average 'Yield'  value is 36.83")
print("Alternative hypothesis: the average 'Yield'  value is not equal to 36.83")

Null hypothesis: the average 'Yield'  value is 36.83
Alternative hypothesis: the average 'Yield'  value is not equal to 36.83

#### Task 10
##### Calculate the z-score using formula as `z_twotail`.
##### Next, calculate the p-value of this z-score.
##### What is the conclusion of this hypothesis test?
#### Result:

In [9]:
z_twotail = (ex_mean - 36.83)/(ex_se)
print(z_twotail)

p_twotail = norm.cdf(z_twotail)
print(p_twotail)

if p_twotail < 0.025:
  ex_hypothesis_two = "reject the null hypothesis, since "+ str(p_twotail) + " < 0.025"
else:
  ex_hypothesis_two =  "fail to reject the null hypothesis, since "+ str(p_twotail) + " >= 0.025"

print("At the alpha = 0.025 significance level, Here, we decide to "+ ex_hypothesis_two)

21.671979062442304
1.0
At the alpha = 0.025 significance level, Here, we decide to fail to reject the null hypothesis, since 1.0 >= 0.025

#### Task 11
##### Create a 95% confidence interval, and determine whether it confirms your results.
#### Result:

In [10]:
# Create a z score for the confidence interval.
z_twotail_95 = norm.ppf(0.025)
print(z_twotail_95)

CI_lower = ex_mean + z_twotail_95*ex_se
print(CI_lower)

CI_upper = ex_mean - z_twotail_95*ex_se
print(CI_upper)


if ex_mean > CI_lower and ex_mean <= CI_lower:
  ex_conclusion = " reject the null hypothesis"
  ex_cl = "inside"
else:
  ex_conclusion =  " fail to reject the null hypothesis"
  ex_cl = "not inside"
print("The conclusion is to "+ex_conclusion)
print(f"If we look at the 95% confidence interval for the test ({CI_lower}, {CI_upper}), we can see that 36.83 is {ex_cl} that interval.")

-1.9599639845400545
39.82982023422699
40.42636397629936
The conclusion is to  fail to reject the null hypothesis
If we look at the 95% confidence interval for the test (39.82982023422699, 40.42636397629936), we can see that 36.83 is not inside that interval.